html {
	min-height: 100%;
}
body {
	background-color: black;
	color: white;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

a {
	color: #cccccc;
}

a:visited {
	color: #aaaaaa;
}

a:hover {
	color: #eeeeee;
}
